/* MultiGridTable default theme */

.styles_ReactVirtualized__MultiGridTable__Cell__2tzSD {
  flex: 1 0 auto;
  padding: 0px 8px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  outline: none;
}

.styles_ReactVirtualized__MultiGridTable__HeaderCell__PBBIc {
}

.styles_ReactVirtualized__MultiGridTable__CellHover__RDhLq {
  background-color: #efefef;
}

.styles_ReactVirtualized__MultiGridTable__CellSelected__2Fkwm {
  background-color: #cbe7ff;
}

.styles_ReactVirtualized__MultiGridTable__Cell__2tzSD > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
}

.styles_ReactVirtualized__MultiGridTable__Right__36C7Z {
  justify-content: flex-end;
}

.styles_ReactVirtualized__MultiGridTable__Center__15xpA {
  justify-content: center;
}

.styles_ReactVirtualized__MultiGridTable__NonePointerEvents__ITZmU {
  pointer-events: none;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__3Fjj2 {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
  pointer-events: all;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__3Fjj2:before,
.styles_ReactVirtualized__MultiGridTable__SortBy__3Fjj2:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__3Fjj2:before {
  border-bottom-color: #666;
  margin-top: -9px;
  opacity: 0.3;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__3Fjj2:after {
  border-top-color: #666;
  margin-top: 1px;
  opacity: 0.3;
}

.styles_ReactVirtualized__MultiGridTable__AscSort__2s_EC:before {
  opacity: 1 !important;
}

.styles_ReactVirtualized__MultiGridTable__DescSort__3i-1f:after {
  opacity: 1 !important;
}

.styles_ReactVirtualized__MultiGridTable__HeaderResize__1mY3h {
  position: sticky;
  top: 0;
  position: relative;
}

.styles_ReactVirtualized__MultiGridTable__HeaderResize__1mY3h:hover {
  border-left: 2px dotted #b3b3b3 !important;
}

.styles_ReactVirtualized__MultiGridTable__HeaderResize__1mY3h:hover .styles_ReactVirtualized__MultiGridTable__ResizeHandle__1Nx6J {
  opacity: 1;
}

.styles_ReactVirtualized__MultiGridTable__ResizeHandle__1Nx6J {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  cursor: col-resize;
  right: 0;
  box-sizing: border-box;
  width: 6px;
  height: 100%;
  opacity: 0;
}

.styles_ReactVirtualized__MultiGridTable__ResizeHandle__1Nx6J::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 40%;
  border-left: 2px solid #9c9c9c;
} 

.styles_ReactVirtualized__MultiGridTable__ResizeHandle__1Nx6J::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  height: 55%;
  border-right: 2px solid #9c9c9c;
} 

.styles_ReactVirtualized__MultiGridTable__HeaderSortable__3WJRo {
  cursor: grab;
}

/*# sourceMappingURL=main.27800481.chunk.css.map*/